<div id="logout-container">

    <div class="logout shadow rounded-3 px-5 py-4" style="background-color: #e4fee4; min-width: 30vw;">

        <div class="d-flex flex-column align-items-center" style="color: gray;">

            <p class="h3 fst-italic">Are you sure,</p>
            <p class="h4 fst-italic">You wanna logout ?</p>

            <div class="d-flex w-100 justify-content-evenly mt-5">
                <button class="btn btn-success rounded-4" id="cancel-btn">cancel</button>
                <a href="{% url 'logout' %}" class="btn btn-danger rounded-4">logout</a>
            </div>

        </div>
    </div>

</div>