nav {
    width: 100vw;
    height: 70px;
    background-color: #333333;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
}

main {
    margin-top: 70px;
}

.logo-img {
    height: 30px;
    width: 30px;
}