<div class="col-10 col-lg-5 border border-1 rounded-3 d-flex flex-column px-5 py-4">

    <a href="{% url 'profile' confession.user.username %}" class="h4 fst-italic text-decoration-none py-3">
        {{confession.user.username}}
    </a>

    <div class="mt-auto">

        <div>
            <div class="overflow-auto" style="max-height: 200px;">
                <span class="fst-italic" style="white-space: pre-wrap;">{{confession.content}}</span>
            </div>
            <hr>
        </div>

        <div class="d-flex align-items-center mt-4">
            <div class="d-flex gap-4">

                <!-- <a href="">
                        <i class="bi bi-balloon-heart" style="font-size: 1.5rem; color: #000;"></i>
                    </a> -->

                <a href="">
                    <i class="bi bi-balloon-heart-fill" style="font-size: 1.5rem; color: red;"></i>
                </a>

                <a href="/">
                    <i class="bi bi-chat-left-heart" style="font-size: 1.5rem; color: #000;"></i>
                </a>

            </div>
            <span class="ms-auto fst-italic" style="font-size: 12px;">{{confession.created_at|timesince}}</span>
        </div>
    </div>

</div>