{% extends "base.html" %}
{% block title %}Signup to explore Confessions{% endblock title %}

{% block content %}


{% if userForm.errors %}
<div id="signUpError" class="alert alert-danger position-fixed end-0 m-5" style="max-width: 400px;">
    <ul class="mb-0">
        {% for field, errors in userForm.errors.items %}

        {% for error in errors %}
        <li>
            {% if field != "__all__" %}
            <strong class="text-danger">{{ capfirst }}</strong>
            {% endif %}
            {{ error }}
        </li>
        {% endfor %}
        
        {% endfor %}

        {# Non-field (global) errors #}
        {% for error in userForm.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}



<div class="d-flex justify-content-center my-5">

    <div class="p-5 rounded-4 shadow d-flex flex-column align-items-center gap-4"
        style="min-width: 400px; min-width: 27vw;">

        <p class="fst-italic h3">Signup</p>

        <form method="post" class="d-flex flex-column gap-4 w-100">
            {% csrf_token %}

            <div>
                <div class="form-floating">
                    {{userForm.username}}
                    <label for="username">Username</label>
                </div>
            </div>

            <div>
                <div class="form-floating">
                    {{userForm.password1}}
                    <label for="password1">Password</label>
                </div class="form-floating">
            </div>

            <div>
                <div class="form-floating">
                    {{userForm.password2}}
                    <label for="password2">Repeat password</label>
                </div>
            </div>

            <input type="submit" value="Signup" class="btn btn-danger mt-3">

        </form>

        <div class="d-flex gap-2">
            <p class="h6">already have an account?</p>
            <a href="{% url 'login' %}" class="h6 text-decoration-none text-info">login</a>
        </div>


    </div>

</div>

{% endblock content %}